  <mat-toolbar>
    <button (click)="drawer.toggle()" color="primary" mat-icon-button type="button">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Ko System</span>
  <span class="example-spacer"></span>

  <div *ngIf="oauthService.hasValidAccessToken()">
    <button (click)="logout()" color="warn" mat-button>
      <mat-icon>logout</mat-icon>
      {{ 'logout'}}
    </button>
  </div>
</mat-toolbar>


<mat-drawer-container class="koSystem-container" style="height: 100%; overflow: hidden">
  <mat-drawer #drawer [opened]="true" class="koSystem-sidenav" mode="side">
    <div>
      <div>
        <button [routerLink]="['dashboard']" color="primary" mat-button>
          <mat-icon>dashboard</mat-icon>&nbsp;{{'Dashboard'}}</button>
      </div>
      <div>
        <button [routerLink]="['teams-list']" color="primary" mat-button>
          <mat-icon>groups</mat-icon>&nbsp;{{'Team'}}</button>
      </div>
      <div>
        <button [routerLink]="['favorite-team-list']" color="primary" mat-button>
          <mat-icon>favorite</mat-icon>&nbsp;{{'Favorite Team' }}</button>
      </div>
      <div>
        <button [routerLink]="['tournament-list']" color="primary" mat-button>
          <mat-icon>public</mat-icon>&nbsp;{{'Tournament'}}</button>
      </div>
      <div>
        <button [routerLink]="['member-list']" color="primary" mat-button>
          <mat-icon>group_add</mat-icon>&nbsp;{{'Tournament Member'}}</button>
      </div>
    </div>

  </mat-drawer>

  <div class="koSystem-container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>




